{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Student Report</title>
  <link rel="stylesheet" type="text/css" href="{% static 'student_report.css'%}">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="logo">Student Report</h1>
      <nav class="header__nav">
        <ul>
          <li><a href="{% url 'home' %}" class="btn">Home</a></li>
          <li><a href="{% url 'dashboard_home' %}" class="btn">dashboard</a></li>
          <li><a href="{% url 'staff' %}" class="btn">Add Staff</a></li>
          <li><a href="{% url 'student' %}" class="btn">Add student</a></li>
          <li><a href="{% url 'staff_reports' %}" class="btn">Staff Report</a></li>
          <li><a href="{% url 'attendance' %}" class="btn">Live Attendance</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <h2 class="main__heading">Student Report Form</h2>
      <form method="POST" class= 'form' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Submit">
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 School Name</p>
    </div>
  </footer>
</body>
</html>
